Django==1.7.4
MySQL-python==1.2.5
WebOb==1.4
amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
bugsnag==2.2.0
celery==3.1.17
cloudinary==1.0.19
django-extensions==1.4.9
django-mailer==0.1.0
docopt==0.4.0
gnureadline==6.3.3
ipdb==0.8
ipython==2.3.1
kombu==3.0.24
mandrill==1.0.57
python-dateutil==1.5
pytz==2014.10
requests==2.5.1
six==1.9.0
wsgiref==0.1.2
